# CSI

# BY Dhananjay Pratap Singh Chandel

## Assignment 1: Create lower triangular, upper triangular and pyramid containing the "*" character.

### 1. Lower Triangle

In [2]:
n= int(input("Enter the number of rows for triangle: "))
for i in range(n): 
    for j in range(i+1):
        print("*", end=' ')
    print()

*
* *
* * *

In [3]:
n= 5
for i in range(n): 
    for j in range(i+1):
        print("*", end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

### 2. Upper Triangle

In [4]:
n= int(input("Enter the number of rows for triangle: "))
for i in range(n+1,1,-1): 
    for j in range(i,1,-1):
        print("*", end=' ')
    print()

* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [5]:
n= 5
for i in range(n+1,1,-1): 
    for j in range(i,1,-1):
        print("*", end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

### 3. Pyramid

In [6]:
n=int(input("Enter the number of rows for triangle: "))    
for i in range(1, n + 1):
        for j in range(n - i):
            print(" ", end=' ')
        for k in range(1, 2*i):
            print("*", end=' ')
        print()

    *
  * * *
* * * * *

In [7]:
n=5    
for i in range(1, n + 1):
        for j in range(n - i):
            print(" ", end=' ')
        for k in range(1, 2*i):
            print("*", end=' ')
        print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

### All three patterns together

In [8]:

print("Lower" + " " * 9 + "Upper" + " " * 8 + "Pyramid")
n = 5
for i in range(1, n + 1):
    # Lower Triangle
    lower = "* " * i
    lower = lower.ljust(n * 2)
    # Upper Triangle    
    upper = "* " * (n - i + 1)
    upper = upper.ljust(n * 2)
    # Pyramid
    spaces = " " * (n - i)
    pyramid = spaces + "* " * i
    pyramid = pyramid.ljust(n * 3)
    
    # printing side-by-side    
    print(lower + "   " + upper + "   " + pyramid)

Lower         Upper        Pyramid
*            * * * * *        *
* *          * * * *         * *
* * *        * * *          * * *
* * * *      * *           * * * *
* * * * *    *            * * * * *